body {
    background-color: black; /* Substitua pela cor desejada */
}


#produtos {
    background-color: #f7f7f7;
    padding: 30px;
}

.produto {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.produto h3 {
    font-size: 20px;
    font-family: "Nome da Fonte", sans-serif;
    color: #333;
}

.produto p {
    font-size: 16px;
    color: #666;
}

.produto img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.produto .preco {
    font-weight: bold;
    color: #ff6600;
    font-size: 18px;
}

.produto:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease-in-out;
}

/* Estilos para o botão "Adicionar ao Carrinho" */
.adicionar-ao-carrinho {
    background-color: #ff6600; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Remova a borda padrão */
    border-radius: 5px; /* Cantos arredondados */
    cursor: pointer; /* Cursor ao passar o mouse */
    font-weight: bold; /* Estilo da fonte */
    transition: background-color 0.3s; /* Transição suave de cor */
}


img {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    border: 5px solid ; 
}

.center {
    text-align: center;
}

h2 {
    color: blue;
    text-align: center;
}

h3 {
    color: green;
    text-align: center;
}

/* Estilos para a barra de pesquisa e cabeçalho */
.barra-de-pesquisa {
    display: flex;
    align-items: center;
    justify-content: center; /* Centralize o conteúdo horizontalmente */
    margin: 25px auto; /* Margem para centralizar verticalmente */
}

.barra-de-pesquisa input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    width: 300px;
}

.barra-de-pesquisa button {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-weight: bold;
}

.barra-de-pesquisa button:hover {
    background-color: red;
}


/* Estilos para a barra de fundo colorida */
.cabecalho {
    background-color: #009900; /* Cor de fundo desejada */
    padding: 10px 0; /* Espaçamento interno para melhor aparência */
}

/* Estilos para o logotipo */
.logo {
    position: absolute; /* Posiciona o logotipo de forma absoluta */
    top: 50px; /* Distância a partir do topo */
    right: 50px; /* Distância a partir da direita */
}

.logo img {
    width: 70px; /* Largura do logotipo */
    height: auto; /* Mantém a proporção da imagem */
}
